.key-icon {
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  color: rgb(99, 94, 107);
  font-weight: bold;
  border: rgb(193, 200, 207) solid 0.125rem;
  border-radius: 0.25rem;
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  transition: transform 0.1s ease-out;
}

.key-icon-active {
  background-color: rgb(185, 216, 255);
  border-color: rgb(125, 169, 221);
  transform: translateY(0.1rem);
}

.key-100 {
  width: 2.5rem;
}

.key-125 {
  width: calc(1.25 * 2.5rem);
}
.key-misc {
  width: calc(1.32 * 2.5rem);
}

.key-150 {
  width: calc(1.5 * 2.5rem);
}

.key-168 {
  width: calc(1.68 * 2.5rem);
}
.key-175 {
  width: calc(1.75 * 2.5rem);
}

.key-200 {
  width: calc(2 * 2.5rem);
}

.key-225 {
  width: calc(2.25 * 2.5rem);
}
.key-232 {
  width: calc(2.32 * 2.5rem);
}
.key-space {
  width: calc(3.76 * 2.5rem);
}

.keyboard {
  width: fit-content;
  margin: auto;
}

.keyboard-row {
  width: calc(2.5 * 16rem);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.game-text-view {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 1.75rem;
}

.error-buffer {
  color: red;
  font-weight: bold;
}

.hiragana-sumi {
  display: flex;
  font-size: 1.2rem;
}
.hiragana-mi {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
}

.carret {
  display: inline-block;
  border-left: rgb(125, 169, 221) solid 0.125rem;
  height: 1ch;
  animation: 1s ease-out 0s infinite blinking;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.game-container {
  border: rgb(99, 94, 107) solid 0.2rem;
  width: 100ch;
  padding: 2rem;
  margin: 1rem;
  position: relative;
}
