.key-icon {
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  color: rgb(99, 94, 107);
  font-weight: bold;
  border: rgb(193, 200, 207) solid 0.125rem;
  border-radius: 0.25rem;
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  transition: transform 0.1s ease-out;
}

.key-icon-active {
  background-color: rgb(185, 216, 255);
  border-color: rgb(125, 169, 221);
  transform: translateY(0.1rem);
}

.key-100 {
  width: 2.5rem;
}

.key-125 {
  width: calc(1.25 * 2.5rem);
}
.key-misc {
  width: calc(1.32 * 2.5rem);
}

.key-150 {
  width: calc(1.5 * 2.5rem);
}

.key-168 {
  width: calc(1.68 * 2.5rem);
}
.key-175 {
  width: calc(1.75 * 2.5rem);
}

.key-200 {
  width: calc(2 * 2.5rem);
}

.key-225 {
  width: calc(2.25 * 2.5rem);
}
.key-232 {
  width: calc(2.32 * 2.5rem);
}
.key-space {
  width: calc(3.76 * 2.5rem);
}

.keyboard {
  width: fit-content;
  margin: auto;
}

.rollver {
  transition: transform 1s;
}

.rollover-1 {
  transform: scale(0.995);
}
.rollover-2 {
  transform: scale(0.99);
}
.rollover-3 {
  transform: scale(0.985);
}
.rollover-4 {
  transform: scale(0.98);
}

.keyboard-row {
  width: calc(2.5 * 16rem);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.game-text-view {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 1.75rem;
}

.font-zenmaru {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.error-buffer {
  color: red;
  font-weight: bold;
}

.hiragana-sumi {
  display: flex;
  font-size: 1.2rem;
}
.hiragana-mi {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
}

.carret {
  display: inline-block;
  border-left: rgb(125, 169, 221) solid 0.125rem;
  height: 1.5ch;
  animation: 1s ease-out 0s infinite blinking;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.game-container {
  border: rgb(99, 94, 107) solid 0.2rem;
  width: 100ch;
  padding: 2rem;
  margin: 1rem;
  position: relative;
}

.highscore-label::before {
  position: absolute;
  color: rgb(93, 126, 216);
  font-weight: bold;
  transform: translateX(-2rem) translateY(-1rem) rotate(-10deg);
  content: 'highscore';
}

.rank-normal {
  font-weight: bold;
  font-size: 4rem;
  position: relative;
  width: fit-content;
  height: 72px;
  text-align: center;
  line-height: 72px;
  font-family: 'Baloo 2', cursive;
}
.F-color {
  color: rgb(126, 70, 151);
}
.E-color {
  color: rgb(70, 92, 151);
}
.D-color {
  color: rgb(45, 116, 88);
}
.C-color {
  color: rgb(119, 163, 83);
}
.B-color {
  color: rgb(209, 159, 19);
}
.A-color {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #4158d0, #c850c0 10%, #ff5050);
  -webkit-background-clip: text;
}
.S-color {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #ffb4fb, #a89eff 70%, #5b8fff);
  -webkit-background-clip: text;
}

.rank-stone {
  font-weight: bold;
  font-size: 3rem;
  position: relative;
  width: fit-content;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-family: 'Baloo 2', cursive;
}
.Iron-color {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(0deg, #000000, #e9e9e9 50%, #6655ff);
  -webkit-background-clip: text;
}
.Bronze-color {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(0deg, #680202, #ff9d80 50%, #f55a00);
  -webkit-background-clip: text;
}
.Silver-color {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(0deg, rgb(43, 63, 112), #eeeeee 50%, #9fc1ff);
  -webkit-background-clip: text;
}
.Gold-color {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(0deg, #680202, #ffa806 50%, #ffe6d8);
  -webkit-background-clip: text;
}
.Diamond-color {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(0deg, #04c4ff, #ffffff 50%, #70eaff);
  -webkit-background-clip: text;
}
.Obsidian-color {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(0deg, #000000, #4f16aa 50%, #7a6cf7);
  -webkit-background-clip: text;
}
.Iridium-color {
  -webkit-text-fill-color: transparent;
  background-image: url('/rank-bg/iridium.jpg');
  -webkit-background-clip: text;
}
.DarkMatter-color {
  -webkit-text-fill-color: transparent;
  background-image: url('/rank-bg/darkmatter.jpg');
  -webkit-background-clip: text;
}
.RedMatter-color {
  -webkit-text-fill-color: transparent;
  background-image: url('/rank-bg/redmatter.jpg');
  -webkit-background-clip: text;
}
.Infinity-color {
  -webkit-text-fill-color: transparent;
  background-image: url('/rank-bg/infinity.jpg');
  -webkit-background-clip: text;
}
.Creative-color {
  -webkit-text-fill-color: transparent;
  background-image: url('/rank-bg/creative.jpg');
  -webkit-background-clip: text;
}
